Makefile
autom4te.cache/
build/
config.h
config.log
config.status
src/.deps/
src/.dirstamp
src/bdf_parser/.dep/
src/bdf_parser/.dirstamp
stamp-h1
.deps
*.o
lib_tiny_font
lib_tiny_font-0.01.tar.gz
config.h.in~
*.cbp
*.depend
*.layout

.anjuta/
.anjuta_sym_db.db
Makefile.in
aclocal.m4
config.h.in
configure
lib_tiny_font.anjuta
*.*~

